.InventoryItem {
  width: 300px;
  background: #000;
  border: 1px solid #222;
  flex-shrink: 0;

  &:not(:first-child):not(:nth-child(2)):not(:nth-child(3)) {
    margin-top: 30px;
  }

  &:nth-child(3n+1),
  &:nth-child(3n+2) {
    margin-right: 30px;
  }
}
