<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Spark!</title>
    <link rel="stylesheet" href="public/css/styles.css">
  </head>
  <body>
    <div id="app" class="Root"></div>
    <script>
      window.__PRELOADED_STATE__ = JSON.parse('{{{ escapeSingleQuotes state }}}');
    </script>
    <script src="public/js/bundle.js"></script>
  </body>
</html>
