@import '../../../scss/core/variables';


.Tabs {
  display: flex;
  align-self: flex-end;

  .Link {
    padding: 10px;
    color: #CCC;
    font-weight: normal;
    border-bottom: 3px solid transparent;
    text-decoration: none;

    & + .Link {
      margin-left: 20px;
    }

    &--active {
      color: $alt;
      border-bottom-color: $alt;
    }
  }
}
