@import '../../../scss/core/variables';


.Tabs {
  display: flex;
  align-self: flex-end;

  &__tab {
    padding: 10px;
    color: #CCC;
    font-weight: normal;
    border-bottom: 3px solid transparent;

    & + & {
      margin-left: 20px;
    }

    &--active {
      color: $alt;
      border-bottom-color: $alt;
    }
  }
}
